/** Default styles reset */
.app-audio [hidden] {
	display: none!important;
}
.app-audio * {
	box-sizing: border-box;
}
.app-audio input[type=file],
.app-audio input[type=file]::-webkit-file-upload-button {
	cursor: pointer;
}
.app-audio svg {
	margin-bottom: -.375rem;
	max-width: 100%;
	max-height: 100%;
}
.app-audio a {
	color: inherit;
}
body.app-audio-container {
	min-height: 100vh;
}



/** Components */
.app-audio {
	position: absolute;
	left: 0;
	line-height: 2rem;
	font-family: sans-serif;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	padding: .5rem 0rem 0;
	width: 100%;
}
.aa-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	outline: none;
	border: none;
	color: inherit;
	cursor: pointer;
	line-height: 2rem;
	display: inline-block;
	z-index: 1;
	position: relative;
}
.aa-icon {
	fill: currentColor;
	width: 1.4rem;
	height: 1.4rem;
	position: relative;
	display: inline-block;
	font-style: normal;
	vertical-align: top;
}

.aa-content {
	position: relative;
	height: 2rem;
	display: inline-block;
	line-height: 2rem;
	cursor: pointer;
	z-index: 1;
	padding-left: .5rem;
}
.aa-content:before {
	content: '';
	position: absolute;
	opacity: .25;
	height: 0;
	bottom: .25rem;
	border-bottom: .13rem dashed currentColor;
	right: 0;
	width: calc(100% - 1.6rem);
	left: .65rem;
}
.aa-content.aa-active:before {
	opacity: .75;
}
.aa-content:hover:before {
	opacity: 1;
}
.aa-focus:before {
	border-bottom-style: solid;
	opacity: .95;
}
.aa-error:before {
	opacity: 0;
}
.aa-input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 0;
	border-radius: 0;
	background: none;
	margin: 0;
	padding: 0;
	outline: none;
	font-size: inherit;
	font-family: inherit;
	display: inline;
	line-height: 1;
	color: inherit;
	pointer-events: none;
	font-weight: inherit;
	min-width: 2em;
	text-overflow: ellipsis;
	max-width: 320px;
	overflow: hidden;
}
@media (max-width: 640px) {
	.aa-input {
		max-width: calc(100vw - 7rem);
	}
}
.aa-progress {
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	height: .2rem;
	background: currentColor;
	transition: .2s linear width;
	z-index: 999;
}


/** Drag and Drop */
.aa-drop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}
.aa-drop:after {
	content: '⎗';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 20vh;
	height: 20vh;
	z-index: 2;
	font-size: 20vh;
	text-align: center;
	line-height: 20vh;
	display: block;
}
.aa-drop:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	border: .2em dashed;
	z-index: 1;
	display: block;
}
.aa-dragover .aa-drop {
	display: block;
}
.aa-dragover .aa-button {
	display: none;
}


/** Dropdown */
.aa-dropdown {
	position: absolute;
	font-family: inherit;
	line-height: 2rem;
	left: 0;
	top: 100%;
	width: 100%;
}
.aa-dropdown:after {
	content: '';
	background: currentColor;
	z-index: 0;
	opacity: .1;
	top: -2.5rem;
	left: 0;
	position: absolute;
	width: 100%;
	height: calc(100% + 2.5rem);
}
.aa-items {
	list-style: none;
	padding: 0;
	margin: .5rem 0;
}
.aa-items:before {
	content: attr(data-title);
	font-weight: inherit;
	padding-left: .5rem;
	display: block;
}
.aa-item {
	cursor: pointer;
	padding: 0 .5rem;
	position: relative;
	z-index: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.aa-item-signal {
	display: inline-block;
}
.aa-item:hover:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: currentColor;
	opacity: .25;
}
.aa-file-input {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	cursor: pointer;
	opacity: 0;
	z-index: 1;
}
